.app-container {
	background-image: url("./background.png");
	background-size: cover;
	width: 100vw;
	height: 100vh;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	color: #f2f2f2;
}
